"{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100px;
    height: 75%;
    line-height: 75px;
padding: 0px 100px;
position: fixed;
background-color: antiquewhite;
}
nav .logo p 
{
font-size: 30px;
font-weight: bold;
float: left;
color: black;
text-transform: uppercase;
letter-spacing: 1.5px;
cursor: pointer;
}
nav ul
{
float: right;
}
nav li 
{
display: inline-block;
list-style: none;
}
nav li a
{
    font-size: 16px;
    text-transform: uppercase;
    padding: opx 30px;
    color: black;
    text-decoration: none;

}