body {
    margin: 0px;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  header {
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font: bolder;
    float: right;
    margin-top: 30px;
   margin-right: 250px;
  }
  #logo {
    margin-left: 80px;
    margin-top: 30px;
  }
  
h1 {
    font-size: 80px;
   
  }
  
  nav ul {
    
    list-style: none;
    
    float: right;
  }
  
  nav li {
   
      
      padding-left: 20px;
      text-align: right;
      float: right;
      width: 130px;
    
      
  
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
   
    
  }
  
  nav li a:hover {
    color: #FF6565;
  }
  nav {
    
    justify-content: space-between;
    align-items: center;
    
  }
  body, header {
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
   .cta p{
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    font-size: 20px;
    padding: 40px;
    display: flex;
    flex: 1;
    color: purple;
    margin-left: 140px;
    
    
   }
   
   main {
    max-width: 800px;
    margin: 200 auto;
    padding: 200px;
    align-items: center;
    text-align: center;
  }
  nav button {
    background-color: #ff9900;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    border-radius: 500px;
  }
  .for {
    background-image: url("Images/Object.png");
  }
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
  }
  
  .hero-text {
    flex: 1;
  }
  
  .hero-text h1 {
    font-size: 48px;
    margin-bottom: -20px;
    margin-top: -20px;
  }
  
  .hero-text p {
   
    margin-bottom: 40px;
    white-space: pre;
    font-family: monospace;
    font-size: 18px;

    
  }
  
  .hero-text button {
    background-color: purple;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color:whitesmoke;
        border-radius: 50px;
        margin-bottom: -20px;
    margin-top: -20px;
    
    
  }
  
  .hero-image img {
    width: 500px;
  }
  .button-design {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 500px;
  }
    .button-design:hover {
        color: #FF6565;
      }
      #pros {
        padding: 50px;
        color: #fff;
      }
      
      
      
      
      #pros ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        
      }
      
      #pros li {
        font-size: 1.2em;
        text-align: center;
        color: white;
    
    
        
      }
  
/* Media queries */
@media screen and (max-width: 767px) {
    header {
      padding: 10px;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 10px 0;
    }
  
    main {
      padding: 10px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    main {
      max-width: 600px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    main {
      max-width: 1000px;
    }
  }
  